<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Milk Cloud</title>
  </head>
  <body>
    <% for (let file of files) { %>
    <a href="<%= current %><%= file.name %>" class="file_name"><%= file.name %></a>
    <span><%= file.size %></span><br />
    <% } %>
  </body>
</html>
